/**
 * This file provides styles for footnotes.
 */

/*____________ footnotes inside the text ____________*/

/* JSpopup */
.insitu-footnote.JSpopup {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.07813em 0.625em;
  font-size: 90%;
  background-color: rgba(238, 238, 238, 0.9)
}

/*____________ footnotes at the bottom of the page ____________*/

.footnotes {
  border-top: 3px rgba(97, 97, 97, 0.1) solid;
  margin-top: 5em;
  padding-top: 1.25em;
  font-size: 90%
}
