/* Base */

html {
    background: @ini_background;
    color: @ini_text;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5
}

body {
    font-size: 100%
}

ul, p {
    margin-top: 0
}

li {
    margin: 5px 0
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.3125em;
    margin-top: 0
}

h1, .h1 {
    font-size: 160%;
    font-weight: 700
}

h2, .h2 {
    font-size: 140%
}

h3, .h3 {
    font-size: 125%
}

h4, .h4 {
    font-size: 108%
}

h5, .h5 {
    font-size: 16px;
    font-style: italic;
    font-weight: 100
}

a {
    color: @ini_link;
    text-decoration: none
}

a:hover {
    border-bottom: 1px @ini_link_hover dotted;
    color: @ini_link_hover
}

img {
    height: auto;
    max-width: 100%
}

/* print */

.footnotes {
    margin-top: 1em;
    padding: 1em 0;
    border-top: 1px rgba(97, 97, 97, 0.1) solid
}

header, .sidebar {
    display: none;
}

footer {
    border-top: 1px #999 solid;
    padding-top: 1em;
}

.table {
    width: 100%;
    display: block;
    overflow: auto;
    margin-bottom: 1.25em
}
.table table {
    width: inherit
}
.table table thead th {
    border-bottom: 1px #616161 solid
}
.table table tbody td {
    border-top: 1px rgba(97, 97, 97, 0.3) solid
}
.table table tbody tr:hover {
    background-color: #fafafa
}
.table table tbody tr:first-child td {
    border-top: none
}
.table table td,
.table table th {
    padding: 0.3125em 0.625em
}
.code,
.cli {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    padding: 0.07813em 0.625em;
    border: 1px rgba(97, 97, 97, 0.3) solid
}
code.code {
    margin: 0 0.625em;
}
pre.code {
    padding: 0.625em;
    overflow: auto;
}
blockquote {
    margin-left: 0;
    padding-left: 0.625em;
    border-left: 3px #616161 solid
}
sup {
    margin: 0 0.625em
}
hr {
    margin: 1.25em 0;
    border: 0;
    border-top: 1px @ini_border solid;
    border-bottom: 1px @ini_border_underline solid
}
h1,
h2,
h3,
h4 {
    padding-bottom: 0.3125em;
    margin-bottom: 0.625em;
    margin-top: 3em
}
h1 {
    border-bottom: 3px rgba(97, 97, 97, 0.1) solid
}
h2 {
    border-bottom: 2px rgba(97, 97, 97, 0.1) solid
}
h3 {
    border-bottom: 2px rgba(97, 97, 97, 0.1) solid
}
li {
    margin: 0
}
table {
    border-collapse: separate
}
label.block {
    text-align: center;
    font-weight: normal
}

img {
  width: inherit;
  height: inherit;
}
